body {
    background-color: black;
    color: yellow;
}
#redbox {
    background-color: red;
    padding: 10px;
    font-weight: bold;
    width: 200px;
    height: 200px;
}
 
#inside_text {
    text-align: right;
}
